<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Gerente</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header>
        <div class="headerbg">

            <a th:href="@{/}"><h3>Grupo 3- OO2 Democratizacion de Stock</h3></a>

        </div>
    </header>
    <div class="divPrincipal">
        <table border="1px">

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>DNI</th>
                    <th>Horas por Jornada</th>
                    <th>Sueldo Básico</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="gerente : ${gerentes}">
                    <td><span th:text="${gerente.nombre}"></span></td>
                    <td><span th:text="${gerente.apellido}"></span></td>
                    <td><span th:text="${gerente.fechaDeNacimiento}"></span></td>
                    <td><span th:text="${gerente.dni}"></span></td>
                    <td><span th:text="${gerente.horasPorJornada}"></span></td>
                    <td><span th:text="${gerente.sueldoBasico}"></span></td>
                    <td><a th:href="@{/gerente/{id}(id=${gerente.id})}">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br> <a class="btn btn-primary" href="/gerente/new">Agregar gerente</a>
        <a class="btn btn-primary" th:href="@{/}">Volver al menú principal</a>
    </div>
</body>
</html>