<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nueva Sucursal</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header>
        <div class="headerbg">

            <h3>Grupo 3- OO2 Democratizacion de Stock</h3>

        </div>
    </header>
    <div class="divPrincipal">
        <form action="#" th:action="@{/sucursal/create}"
              th:object="${sucursal}" method="post">
            <p>
                Telefono: <input type="text" th:field="*{telefono}" />
            </p>
            <p>
                Ubicacion: <select placeholder="Ubicacion" th:field="*{direccion.id}">
					<option th:each="d : ${direcciones}" th:value="${d.id}"
						th:text="${d.calle}"></option>
				</select>
            </p>
            <p>
                Gerente: <select placeholder="Gerente" th:field="*{gerente.id}">
					<option th:each="g : ${gerentes}" th:value="${g.id}"
						th:text="${g.apellido}"></option>
				</select>
            </p>
            <input class="btn btn-primary" type="submit" value="crear" />
        </form>
    </div>
</body>
</html>