<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Vendedor</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header>
        <div class="headerbg">

            <h3>Grupo 3- OO2 Democratizacion de Stock</h3>

        </div>
    </header>
    <div class="divPrincipal">
        <form action="#" th:action="@{/vendedor/create}"
              th:object="${vendedor}" method="post">
            <p>
                Nombre: <input type="text" th:field="*{nombre}" />
            </p>
            <p>
                Apellido: <input type="text" th:field="*{apellido}" />
            </p>
            
             <p>
                DNI: <input type="text" th:field="*{dni}" />
            </p>
             <p>
                Sueldo Básico: <input type="text" th:field="*{sueldoBasico}" />
            </p>
            <p>
                Plus: <input type="text" th:field="*{plus}" />
            </p>
            <input class="btn btn-primary" type="submit" value="crear" />
        </form>
    </div>
</body>
</html>