<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index Pedido</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<header>
		<div class="headerbg">

			<h3>Grupo 3- OO2 Democratizacion de Stock</h3>

		</div>
	</header>
	
	<div class="divPrincipal">
		<table border="1px">

			<thead>
				<tr>
					<th>Id</th>
					<th>Id Pedido</th>
					<th>Cantidad</th>
					<th>Producto</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pedido : ${pedidos}">
				<td><span th:text="${pedido.id}"></span></td>
				
				<!-- Esta parte la cambie para que al imprimir el Id tambien genere un link al producto -->
					<td><a th:href="@{/producto/{id}(id=${pedido.producto.id})}" th:text="${pedido.producto.id}"></td>
					<td><span th:text="${lote.cantidad}"></span></td>
	
					<td><a th:href="@{/pedido/{id}(id=${pedido.id})}">View</a>
					</td>
				</tr>
			</tbody>
		</table>
		<br> <a class="btn btn-primary" href="/pedido/new">Crear
			nuevo Pedido</a>
	</div>
</body>
</html>