<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <header>
        <div class="headerbg">

           <a th:href="@{/}"><h3>Grupo 3- OO2 Democratizacion de Stock</h3></a>

        </div>
    </header>
    <div class="divPrincipal">
        <form action="#" th:action="@{/producto/update}" th:object="${producto}" method="post">
            <p>Descripcion: <input type="text" th:field="*{descripcion}" /></p>
            <p>Precio Unitario: <input type="text" th:field="*{precioUnitario}" /></p>
            <p>Marca: <input type="text" th:field="*{marca}" /></p>
            <p>ID: <input type="text" th:field="*{id}" /></p>

            <input class="btn btn-success" type="submit" value="Editar"/>
        </form>
        <br>
        <br>
        <form action="#" th:action="@{/producto/delete/{id}(id=${producto.id})}" method="post">
            <input class="btn btn-danger" type="submit" value="Eliminar producto" />
        </form>
    </div>

</body>
</html>