/*-------------------------Header-------------------------------*/

.headerbg{
    width: 100vw;
    height: 10vh;
    background-color: #3533CC;
	line-height: 10vh;
}
.boton{
	color:red;
	background: red;
}
.headerbg h3{
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: 1vw;
}
/*-------------------------Background-------------------------------*/
body{
		background-color: #ffffff;
		background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
/*-------------------------Index-------------------------------*/
.home{
	
    width: 50vw;
	margin:auto;
	margin-top:8%;
	padding-top:4%;
	padding-bottom:4%;
	text-align:center;
	border: solid black 1px;
}
.indexDivs{
	text-align:center;
}
.CUs{
	text-aling:center;
	margin: auto;
	margin-top:15px;
}
.linksIndex{
	font-size:2rem;
	margin:10px,0,10px,0,0;
	text-align:center;
	padding:3px;
}
/*-------------------------contenido-------------------------------*/

.textHome{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 0;
	text-color: #FFFFF;
}

.divPrincipal{
	text-align:left;
    width: 60vw;
	margin-left:10%;
	margin-top:4%;
}

.divPrincipal form{
	background-color:white;
	width: auto;
	padding:15px;
	border: solid black 1px;
}

.divPrincipal table thead tr th{
	background-color:white;
	padding:10px;
}

.divPrincipal table tbody tr td{
		background-color:white;
	padding:10px;
}

/*-------------------------Sucursal-------------------------------*/
.ListasSucursal{
	margin-top:15px;
	margin-left:0;
}
.ListaVendedores{
	margin-top:15px;
}