<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<table border="1px">
	<thead>
		<tr>
			<th>Name</th>
			<th>View</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="direccion : ${direcciones}">
			<td>
			<span th:text="${direccion.ciudad}" ></span>
			</td>
			<td>
			<span th:text="${direccion.calle}" ></span>
			</td>
			<td>
			<span th:text="${direccion.numero}" ></span>
			</td>
			<td>
			<span th:text="${direccion.longitud}" ></span>
			</td>
			<td>
			<span th:text="${direccion.latitud}" ></span>
			</td>
			<td>
				<a th:href="@{/direccion/{id}(id=${direccion.id})}">View</a>
			</td>
		</tr>
	</tbody>
</table>
<a href="/direccion/new">Crear nueva direccion</a>

</body>
</html>