<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nueva Direccion</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<header>
		<div class="headerbg">

			<h3>Grupo 3- OO2 Democratizacion de Stock</h3>

		</div>
	</header>

	<div class="divPrincipal">
		<form action="#" th:action="@{/lote/create}"
			th:object="${lote}" method="post">
			<p>
				ID de producto: <input type="text" th:field="*{producto}" />
			</p>
			<p>
				Cantidad: <input type="text" th:field="*{cantidad}" />
			</p>
			<p>
				Cantidad Total: <input type="text" th:field="*{cantidadTotal}" />
			</p>
			
			<input class="btn btn-primary" type="submit" value="crear" />
		</form>
	</div>
</body>
</html>